body {
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #484848;
    max-width: 1280px;
}
.wrapper {
    text-align: center;
    margin: 0 auto;
}
table {
    width: 1166px;
    height: 708px;
    border-collapse: collapse;
    border: 20px solid #3A4965;
}
.cloud {
    width: 26px;
    height: 19px;
    margin-right: 11px;
}
.email {
    width: 24px;
    height: 20px;
    margin-right: 11px;
}
tr {
    background-color: #FFFFFF;
}
td {
    text-align: center;
    border-right: 2px solid #DDDDDD;
    width: 278px;
    height: 10%;
    position: relative;
}
th {
    text-align: center;
    border-right: 2px solid #DDDDDD;
    width: 278px;
    height: 10%;
}
.wheel {
    width: 24px;
    height: 25px;
    margin-right: 11px;
}
.box {
    width: 23px;
    height: 21px;
    margin-right: 11px;
}
.cube {
    width: 23px;
    height: 23px;
    margin-right: 11px;
}
.btn1 {
    width: 193px;
    height: 45px;
    background-color: #484848;
    text-transform: uppercase;
    font-weight: 700;
    color: #FFFFFF;
    border-radius: 7px;
    box-shadow: #404040 0px 5px;
    border: none;
    outline: none;
}
.btn2 {
    width: 193px;
    height: 45px;
    background-color: #89C331;
    text-transform: uppercase;
    font-weight: 700;
    color: #FFFFFF;
    border-radius: 7px;
    box-shadow: #79B027 0px 5px;
    border: none;
    outline: none;
}
.btn3 {
    width: 193px;
    height: 45px;
    background-color: #F04A56;
    text-transform: uppercase;
    font-weight: 700;
    color: #FFFFFF;
    border-radius: 7px;
    box-shadow: #DF3A46 0px 5px;
    border: none;
    outline: none;
}
.btn4 {
    width: 193px;
    height: 45px;
    background-color: #20807C;
    text-transform: uppercase;
    font-weight: 700;
    color: #FFFFFF;
    border-radius: 7px;
    box-shadow: #16736F 0px 5px;
    border: none;
    outline: none;
}
button:hover {
    cursor: pointer;
}
.people {
    width: 26px;
    height: 25px;
    margin-right: 11px;
}
.first {
    width: 311px;
    height: 10%;
}
.price {
    font-size: 60px;
    font-weight: 600;
}
.price2 {
    position: absolute;
    top: 22px;
    font-weight: 700;
}
.grey {
    background-color: #E3E3E3;
}
.white {
    background-color: #F2F2F2;
}
.standart {
    background-color: #89C331;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
}
.ultimate {
    background-color: #F04A56;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 500;
}
.premium {
    background-color: #20807C;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
}
.btn {
    background-color: #DDDDDD;
}
.choose {
    font-size: 18px;
}
.pricing {
    font-size: 30px;
}
p {
    margin: 0px;
}